# Movie regression using support vector machine

In this analysis, I will predict if a movie could obtain a star tech oscar using the other columns using support vector machine classification

## Preprocessing
### Importing libraries and dataset (exploring dataset)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("Movie_classification.csv", header = 0)
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [3]:
df.describe()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,494.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,92.270471,77.273557,0.445305,34911.144022,142.074901,8.014002,8.185613,8.019664,8.190514,7.810870,449860.715415,157.391498,260.832095,39.181818,545.043478,45057.707510,0.545455
std,172.030902,13.720706,0.115878,3903.038232,28.148861,1.054266,1.054290,1.059899,1.049601,0.659699,68917.763145,31.295161,104.779133,12.513697,106.332889,18364.351764,0.498422
min,20.126400,55.920000,0.129000,19781.355000,76.400000,3.840000,4.035000,3.840000,4.030000,6.600000,212912.000000,0.000000,201.152000,3.000000,333.000000,10000.000000,0.000000
25%,21.640900,65.380000,0.376000,32693.952500,118.525000,7.316250,7.503750,7.296250,7.507500,7.200000,409128.000000,132.300000,223.796000,28.000000,465.000000,34050.000000,0.000000
50%,25.130200,74.380000,0.462000,34488.217500,151.000000,8.307500,8.495000,8.312500,8.465000,7.960000,462460.000000,160.000000,254.400000,39.000000,535.500000,42400.000000,1.000000
75%,93.541650,91.200000,0.551000,36793.542500,167.575000,8.865000,9.030000,8.883750,9.030000,8.260000,500247.500000,181.890000,283.416000,50.000000,614.750000,50000.000000,1.000000
max,1799.524000,110.480000,0.615000,48772.900000,173.500000,9.435000,9.540000,9.425000,9.635000,9.400000,567784.000000,217.520000,2022.400000,60.000000,868.000000,100000.000000,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

### Missing Values Treatment

In [5]:
df.fillna(df.mean(), inplace = True)

In [6]:
df.describe()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,92.270471,77.273557,0.445305,34911.144022,142.074901,8.014002,8.185613,8.019664,8.190514,7.810870,449860.715415,157.391498,260.832095,39.181818,545.043478,45057.707510,0.545455
std,172.030902,13.720706,0.115878,3903.038232,28.148861,1.054266,1.054290,1.059899,1.049601,0.659699,68917.763145,30.921101,104.779133,12.513697,106.332889,18364.351764,0.498422
min,20.126400,55.920000,0.129000,19781.355000,76.400000,3.840000,4.035000,3.840000,4.030000,6.600000,212912.000000,0.000000,201.152000,3.000000,333.000000,10000.000000,0.000000
25%,21.640900,65.380000,0.376000,32693.952500,118.525000,7.316250,7.503750,7.296250,7.507500,7.200000,409128.000000,132.690000,223.796000,28.000000,465.000000,34050.000000,0.000000
50%,25.130200,74.380000,0.462000,34488.217500,151.000000,8.307500,8.495000,8.312500,8.465000,7.960000,462460.000000,158.980000,254.400000,39.000000,535.500000,42400.000000,1.000000
75%,93.541650,91.200000,0.551000,36793.542500,167.575000,8.865000,9.030000,8.883750,9.030000,8.260000,500247.500000,181.520000,283.416000,50.000000,614.750000,50000.000000,1.000000
max,1799.524000,110.480000,0.615000,48772.900000,173.500000,9.435000,9.540000,9.425000,9.635000,9.400000,567784.000000,217.520000,2022.400000,60.000000,868.000000,100000.000000,1.000000

### Dummy variable creation

In [7]:
df = pd.get_dummies(df, drop_first = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  Time_taken           506 non-null    float64
 12  Twitter_hastags      506 non-null    float64
 13  Avg_age_actors       506 non-null    int64
 14  Num_multiplex        506 non-null    int64
 15  Collection           506 non-null    int64
 16  Start_Tech_Oscar     506 non-null    int64
 17  3D_available_YES     506 non-null    uint8
 18  Genre_Comedy         506 non-null    uint8
 19  Genre_Drama          506 non-null    uint8
 20  Genre_Thriller       506 non-null    uint8
dtypes: float64(12), int64(5), uint8(4)
memory usage: 69.3 KB

## Training and testing data processing

In [9]:
x = df.loc[:, df.columns != "Start_Tech_Oscar"]
y = df["Start_Tech_Oscar"]

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

### Standardizing train and test data

In [11]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler().fit(x_train)
x_train_s = scale.transform(x_train)
x_test_s = scale.transform(x_test)

In [14]:
x_train_s.shape

(404, 20)

## SVM classification
### Training and testing SVM model

In [84]:
from sklearn.svm import SVC
svc = SVC(kernel = "linear", C =0.01)
svc.fit(x_train_s, y_train)

SVC(C=0.01, kernel='linear')

In [85]:
y_pred_svc = svc.predict(x_test_s)

### Model performance

In [86]:
from sklearn.metrics import confusion_matrix, accuracy_score
accuracy_score(y_train, svc.predict(x_train_s))

0.6064356435643564

In [87]:
confusion_matrix(y_test, y_pred_svc)

array([[11, 33],
       [ 5, 53]], dtype=int64)

In [88]:
accuracy_score(y_test, y_pred_svc)

0.6274509803921569

In [89]:
svc.n_support_

array([186, 189])

### Optimizing

In [94]:
from sklearn.model_selection import GridSearchCV
params = {"C": [0.001,0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100, 500, 1000]}
search = GridSearchCV(SVC(kernel = "linear"), params, n_jobs = -1, cv = 10, verbose = 1, scoring = "accuracy")
search.fit(x_train_s, y_train)
svc2 = search.best_estimator_
y_pred_svc2 = svc2.predict(x_test_s)
accuracy_score(y_test, y_pred_svc2)

Fitting 100 folds for each of 13 candidates, totalling 1300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done 200 tasks      | elapsed:    0.9s
[Parallel(n_jobs=-1)]: Done 952 tasks      | elapsed:   31.7s
[Parallel(n_jobs=-1)]: Done 1202 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 1300 out of 1300 | elapsed: 15.1min finished

0.5980392156862745

### Polynomial

In [95]:
polysvc = SVC(kernel = "poly", degree = 2, C = 0.1)
polysvc.fit(x_train_s, y_train)
y_pred_poly = polysvc.predict(x_test_s)
accuracy_score(y_test, y_pred_poly)

0.5588235294117647

In [97]:
params = {"degree": [2, 3, 4, 5],"C": [0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100]}
search = GridSearchCV(SVC(kernel = "poly"), params, n_jobs = -1, cv = 10, verbose = 1, scoring = "accuracy")
search.fit(x_train_s, y_train)
polysvc2 = search.best_estimator_
y_pred_poly2 = polysvc2.predict(x_test_s)
accuracy_score(y_test, y_pred_poly2)

Fitting 10 folds for each of 36 candidates, totalling 360 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done 265 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 360 out of 360 | elapsed:    2.5s finished

0.5980392156862745

In [98]:
search.best_params_

{'C': 1, 'degree': 3}

### Radial

In [102]:
radsvc = SVC(kernel = "rbf", gamma = 0.5, C = 10)
radsvc.fit(x_train_s, y_train)
y_pred_rad = radsvc.predict(x_test_s)
accuracy_score(y_test, y_pred_rad)

0.6176470588235294

In [101]:
params = {"gamma": [0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100],"C": [0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100]}
search = GridSearchCV(SVC(kernel = "rbf"), params, n_jobs = -1, cv = 10, verbose = 1, scoring = "accuracy")
search.fit(x_train_s, y_train)
radsvc2 = search.best_estimator_
y_pred_rad2 = radsvc2.predict(x_test_s)
accuracy_score(y_test, y_pred_rad2)

Fitting 10 folds for each of 81 candidates, totalling 810 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done 200 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 810 out of 810 | elapsed:    7.9s finished

0.6078431372549019

In [103]:
search.best_params_

{'C': 5, 'gamma': 0.01}

In [105]:
radsvc.n_support_

array([186, 218])